body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

/* The slide out burger menu */

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
  margin: 15px;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.bg {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: grey;
  display: flex;
  align-items: center;
  border-radius: 15%;
  justify-content: center;
  transition: all 0.4s ease;
}

.bg:before,
.bg:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 3px;
  border-radius: 15%;
  background: inherit;
}

.bg:after {
  top: 8px;
}

.toggler:checked ~ .menu {
  visibility: visible;
}

.toggler:checked ~ .menu > div {
  transform: translateX(0);
  transition-duration: 0.4s;
}

.toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: rgba(105, 105, 105, 0.3);
}

.border {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  width: 100%;
  color: black;
}

.border2 {
  border-bottom: 2px solid lightgrey;
  width: 100%;
  color: black;
}

.div1 {
  background: white;
  width: 30vw;
  min-width: 100px;
  max-width: 300px;
  height: 100vh;
  display: block;
  flex: none;
  transform: translateX(-40vh);
  transition: all 0.4s ease;
}

/* slide out menu content */

 .logo {
  display: block;
  height: 30px;
  padding: 28px 0 20px 28px;
  max-width: 40vh;
  margin-right: auto;
  margin-left: auto;
}

.youTube {
  border: none;
  background-color: inherit;
}

.menuList {
  margin: auto;
  list-style: none;
  color: black;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr;
  text-align: left;
  padding: 15px;
}

.menuLinks {
  color: inherit;
  font-size: 21px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.uList {
  padding: 15px 0;
}

.icon{
  width: 30px;
  height: 30px;
  margin: auto;
}

/* navigation */

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  list-style: none;
  display: grid;
  margin: auto;
  grid-template-columns: 50px 190px 4fr 1fr 50px 50px 50px 50px 10px;
  grid-template-rows: 50px;
  grid-gap: 2%;
  height: 85px;
  background-color: white;
  align-content: center;
}

.navList {
  margin: auto;
}
.mic {
  justify-content: left;
}

.mainLogo {
  grid-column-start: 2;
  height: 35px;
  margin: auto;
}

.navIcon {
  width: 55px;
}

.searchBar > input {
  height: 45px;
  width: 100%;
  max-width: 100%;
  font-size: 24px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.searchButton {
  background-color: #f2f2f2;
  height: 47px;
  width: 100px;
  min-width: 55px;
  margin: auto;
  padding: 5px;
  position: relative;
  top: -48px;
  left: calc(100% - 82px);
  border: none;
  border-left: 1px solid lightgrey;
  border-radius: 0 5px 5px 0;

}

.searchButton > img {
  height: 35px;
  margin: auto;
}

.rickRolling {
  border: none;
  background-color: inherit;
}
/* main video */

.mainVideo, .videoInfo {
  width: 95vw;
  max-width: 1060px;
}

.mainVideo {
  background-color: grey;
  margin: 40px auto 20px auto;
  height: 60vw;
  max-height: 800px;
}

.videoInfo {
  margin: auto;
  padding: 10px 10px 25px 10px;
  border-bottom: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 22px 35px 34px;
}

.hashTags, .videoName{
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 0;
}

.hashTags > p {
  margin: 0;
  color: blue;
}

.videoName {
  margin: 0 auto auto 0;
  font-size: 10px;

}

 h1 {
  margin: auto;
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.videoEngagement > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  align-items: center;
}

.likes {
  border-bottom: 1px solid grey;
}

.videoEngagement > ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: auto;
  font-size: 20px;
  padding: 15px;
}

.like {
  height: 30px;
  width: auto;
  padding-right: 10px;
}

.videoViews {
  grid-column-start: 1;
  grid-column-end: 3;
}

.EngagementList {
  list-style: none;
}

/* Youtube profile details */

.youTubeProfile {
  border-bottom: 1px solid lightgrey;
  padding: 0 15px 15px;
}

.youTubeProfile > a {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  grid-template-rows: 1fr 1fr;
  padding: 0 15px;
  text-decoration: none;
  color: inherit;
}

.sub {
  height: 40px;
  width: 130px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px solid darkred;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: auto;
}

.youTubeProfile > block {
  margin-left: 115px;
}

.youTubeProfile > a > img {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 75px;
}

.profileName {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: auto;
}

.subscribers {
  color: grey;
}

/* suggested videos*/

.suggestedVideos {
  height: 1000px;
  width: 95%;
  background-color: blue;
  margin: 20px auto;

}
.suggested {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 30px 30px 90px;
  border: 1px solid black;
  background: pink;
}

.suggested > a {
  color: black;
  text-decoration: none;
}

iframe {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  grid-column-start: 2;
}

h3 {
  font-size: 14px;
  text-align: left;
  grid-column-start: 2;
  margin: auto auto auto 0;
}

h4 {
  font-size: 14px;
  text-align: left;
  grid-column-start: 2;
  margin: 0 auto auto 0;
}



/* when done try add the subscribed button and drop down bell menu */
